html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


:root{
    --main-font-color: #444950;
    --main-highlight-font-color: #09d5b7;
    --secondary-highlight-font-color: #ffffff;

    --main-used-font-color: #677cd5;

    --main-background-color: #ffffff;
    --main-background-highlight-color: #09d5b7;

    --main-gradient-color: linear-gradient(#6ee6cc, #6ec8e5);
}

.app {
    color: var(--main-font-color);
    display: flex;
    font-family: Arial, Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-highlight-font-color);
}
a.visited {
    color: var(--main-used-font-color);
}

p {
    line-height: 1.3;
}

